
; begin auth token
//pkgs.dev.azure.com/VIS-Claims/Architecture/_packaging/Architecture/npm/registry/:username=VIS-Claims
//pkgs.dev.azure.com/VIS-Claims/Architecture/_packaging/Architecture/npm/registry/:_password=RkN1eVpzdnNVQlNnVHhDM1VxZnFaekRIdVhJQlk5ZDdURDNFQ3RxU2NpYVlzaXJxZkw5TkpRUUo5OUJHQUNBQUFBQTZNdXNpQUFBU0FaRE80ZnpK
//pkgs.dev.azure.com/VIS-Claims/Architecture/_packaging/Architecture/npm/registry/:email=eroseland@verisk.com
//pkgs.dev.azure.com/VIS-Claims/Architecture/_packaging/Architecture/npm/:username=VIS-Claims
//pkgs.dev.azure.com/VIS-Claims/Architecture/_packaging/Architecture/npm/:_password=RkN1eVpzdnNVQlNnVHhDM1VxZnFaekRIdVhJQlk5ZDdURDNFQ3RxU2NpYVlzaXJxZkw5TkpRUUo5OUJHQUNBQUFBQTZNdXNpQUFBU0FaRE80ZnpK
//pkgs.dev.azure.com/VIS-Claims/Architecture/_packaging/Architecture/npm/:email=eroseland@verisk.com
; end auth token
;

@verisk:registry=https://pkgs.dev.azure.com/VIS-Claims/Architecture/_packaging/Architecture/npm/registry/

always-auth=true
