asciichartpy==1.5.25
boto3==1.26.158
botocore==1.29.158
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
cryptography==41.0.1
curlify==2.2.1
debtcollector==2.5.0
deepmerge==1.1.0
greenlet==3.2.3
idna==3.4
infoblox-client==0.6.0
iso8601==2.1.0
jmespath==1.0.1
kazoo==2.9.0
msgpack==1.0.7
netaddr==0.10.1
netifaces==0.11.0
numpy==1.25.1
oslo.config==9.2.0
oslo.context==5.3.0
oslo.i18n==6.2.0
oslo.log==5.4.0
oslo.serialization==5.2.0
oslo.utils==6.3.0
packaging==23.2
pandas==2.0.3
pbr==6.0.0
pycparser==2.21
PyJWT==2.7.0
pynvim==0.5.2
pyotp==2.8.0
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0.1
requests==2.31.0
rfc3986==2.0.0
s3transfer==0.6.1
six==1.16.0
stevedore==5.1.0
typing_extensions==4.14.1
tzdata==2023.3
urllib3==1.26.16
wrapt==1.16.0
